<div id="templatemo_wrapper">
    
    <div id="templatemo_main">
    
    	<div id="templatemo_content">
        
            <h2>Goal</h2>

        	<p>We are students from Columbia University, majoring in Computer Science and Journalism. In order to raise the public awareness of the HIV/AIDS prevention and find out effective approaches to alleviate its spreading, our team decides to implement an N-tier web application to visualize related data. </p>
            <p>By mapping groups of data to a graph, our application should be able to tell a story about recent trends of HIV/AIDS and potential correlated factors. By digging into open data, such as The World Bank data and The Open US data, our application is able to promote government transparency and facilitate the policy makers.</p>
        
        </div>
        
        <div id="templatemo_sidebar">
        
        	<h2>Team Members</h2>
            
            <div class="news_box">
				<div class="date">Tao Cheng</div>
                <p><a href="mailto:tc2569@columbia.edu">TC2569@Columbia.edu</a></p>
              <p>Major: Computer Science. </p>
              <p>Database Development.</p>
                
            </div>
            
            <div class="news_box">
				<div class="date">Pucong Han</div>
                <p><a href="mailto:ph2369@columbia.edu">PH2369@Columbia.edu</a></p>
                <p>Major: Computer Science & Journalism. </p> 
                <p>Back-end Development.</p>
                
          </div>
            
            <div class="news_box">
                <div class="date">Shujian Bu</div>
                <p><a href="mailto:sb3331@columbia.edu">SB3331@Columbia.edu</a></p>
				<p>Major: Computer Science & Journalism.</p> 
                <p>Front-end Development.</p>        
            </div>
            
            <div class="news_box">
                <div class="date">Nanzhu Wang</div>
                <p><a href="mailto:nw2260@columbia.edu">NW2260@Columbia.edu</a></p>
                <p>Major: Computer Science.</p>    
                <p>Business Logic.</p>    
            </div>    
            <div class="cleaner_h40"></div>

        </div>
        
        <div class="cleaner"></div>
    
    </div> 