<div id="templatemo_wrapper">

	<div id="templatemo_main">
    
    	<div id="templatemo_content">
        
            <div class="services_section horizon_divider">
            
                <h2>Seven Factors Most Relevant to HIV</h2>
                <div class="ss_left">
                    <%= image_tag("bargraph.png", :alt => "image") %>
              	</div>
                    
                <div class="ss_right">
                	<p>Our team plans to visualize data sets from <a href= "http://data.worldbank.org/topic">The World Bank</a> and tell a story about Prevalence of HIV in different countries with respect to the following factors: </p>
                
                    <ul class="templatemo_list">
                      <li>Improved Water Source</li>
                      <li>Rural Population</li>
                      <li>Improved Sanitation Facilities</li>
                      <li>GDP</li>
                      <li>Literacy Rate</li>  
                      <li>Unemployment Rate</li>               
                      <li>Health Expenditure</li>       
                    </ul>
                    
              </div>
                    
                <div class="cleaner"></div>
    
            </div>

        
        </div> 
        <div id="templatemo_sidebar">
        
<h2>Latest Updates</h2>
            
            <div class="news_box">
        <div class="date">October 25, 2012</div>
                <p><a href="http://data.worldbank.org/data-catalog/doing-business-database">Doing Business</a></p>
                <p>Doing Business provides objective measures of business regulations and their enforcement across 185 economies. Each economy is ranked according to 10 sets of indicators. These are combined into an overall "ease of doing business" ranking.</p>                
            </div>
            
            <div class="news_box">
        <div class="date">September 27, 2012</div>
                <p><a href="http://data.worldbank.org/open-government-data-toolkit">Open Government Data Toolkit</a></p>
                <p>I. Knowledge Repository; II. IT Solutions; III. Demand for OD/Engagement Tools; IV. Supply of Data; V. Readiness Assessment Tool.</p>                
          </div>
                       
 
        </div>
        
        <div class="cleaner"></div>
    
    </div> 