<div id="templatemo_wrapper">
    
    <div id="templatemo_main">
    
    	<div id="templatemo_content">
        
            <div class="post_box horizon_divider">
            
                <h2>Infectious Diseases Related To Travel</h2>
                <div class="post_info">October 28, 2012 | <strong>Author:</strong> <a href="#">Shujian</a> | <strong>Category:</strong> <a href="#">Feature</a></div>
                
                <div class="image_wrapper"><a href="#"><%= image_tag("templatemo_image_04.jpg", :alt => "image", :style => "width: 500px; height:300px;") %></a></div>
                  <p>AIDS and HIV infection occur worldwide. At of the end of 2008, more than 33 million people were living with HIV/AIDS. Although sub-Saharan Africa remains the most affected part of the world (22.4 million cases), notable increases in HIV infection have occurred from 2001 to 2008 in Eastern Europe and throughout Asia (Map 3-07). Ninety-seven percent of new infections come from low- and middle-income countries. Many countries lack comprehensive surveillance systems, and despite improvements, the true number of cases is likely higher than officially reported, particularly in developing countries.</p>                
                <a href="#">Continue reading...</a> | <a href="#">Comments (101)</a>
            
            </div>
        
            <div class="post_box">
           		
                <h2>The Beginning of The End of AIDS</h2>
                <div class="post_info">October 20, 2012 | <strong>Author:</strong> <a href="#">Shujian</a> | <strong>Category:</strong> <a href="#">Findings</a></div>
                
               <div class="image_wrapper"><a href="#"><%= image_tag("templatemo_image_05.jpg", :alt => "image", :style => "width: 500px; height:300px;") %></a></div>
                <p>Few could have imaged that we'd be talking about the real possibility of an AIDS-free generation. But that's what we're talking about...make no mistake, we are going to win this fight. But the fight is not over -- not by a long shot. Not for the 1.2 million Americans who are living with HIV right now. Not for the Americans who are infected every day. This fight is not over for them, it's not over for their families... and it certainly isn't over for your President. This is a talk by President Obama on World AIDS Day last year.</p>                
                <a href="#">Continue reading...</a> | <a href="#">Comments (208)</a>
            
            </div>
        
        </div> 
        
        <div id="templatemo_sidebar">
        	
            <h2>Recent News</h2>
            
        	<ul class="templatemo_list">
                <li><a href="http://www.medicalnewstoday.com/articles/252195.php">Accurate HIV Sensor Ten Times Cheaper Than Any Other</a></li>
              <li><a href="http://www.huffingtonpost.com/sean-strub/lgbt-hiv-criminalization_b_2039539.html">Think Having HIV Is Not a Crime? Think Again</a></li>
              <li><a href="http://www.indianexpress.com/news/govt-report-says-drugs-hiv-could-have-led-to-batala-deaths/1024491/">Govt report says drugs, HIV could have led to Batala deaths</a></li>
              <li><a href="http://www.healio.com/hematology-oncology/breast-cancer/news/online/%7BBA748E60-7E1B-480C-AE92-5EA6B3F3246F%7D/HIV-drug-shows-activity-against-HER-2positive-breast-cancer">HIV drug shows activity against HER-2–positive breast cancer</a></li>
                <li><a href="http://blog.aids.gov/2012/10/locater-hiv-testing-and-treatment-services-theres-an-app-for-that.html">Looking for HIV/AIDS Prevention and Service Providers? There’s an App for That.</a></li>
          </ul>
            <div class="button"><a href="https://www.google.com/search?q=AIDS&hl=en&tbo=d&gl=us&pws=0&biw=1079&bih=639&sa=X&ei=HrOQUJhXxd_SAZClgeAH&ved=0CC0Q6wYwAA">View All</a></div>
            
            <div class="cleaner_h40"></div>
            
            <h2>Latest Updates</h2>
            
            <div class="news_box">
				<div class="date">October 12, 2012</div>
                <p><a href="http://www.unaids.org/en/resources/presscentre/pressreleaseandstatementarchive/2012/october/20121012pseg/">Equatorial Guinea increases domestic investments for AIDS</a></p>
                <p>The Joint United Nations Programme on HIV/AIDS (UNAIDS) recognizes Equatorial Guinea’s efforts in financing its entire national AIDS response from domestic resources. President Teodoro Obiang Nguema Mbasogo stated that “Equatorial Guinea is financing its national programmes on school HIV/AIDS prevention, condom distribution and the financing of antiretrovirals for infected populations.” </p>                
            </div>
            
            <div class="news_box">
				<div class="date">September 27, 2012</div>
                <p><a href="http://www.unaids.org/en/resources/presscentre/pressreleaseandstatementarchive/2012/september/20120926prsharedresp/">African leaders embrace shared responsibility and call for innovative solutions to accelerate the response to AIDS, tuberculosis and malaria</a></p>
                <p>African leaders gathered in New York on the sidelines of the 67th Session of the United Nations General Assembly to discuss the African Union (AU) Roadmap. This initiative outlines long-term sustainable strategies to finance and provide access to HIV treatment and prevention services and other health services in Africa as called for in the Millennium Development Goals.</p>                
          </div>
            
            <div class="news_box">
                <div class="date">July 24, 2012</div>
                <p><a href="http://www.unaids.org/en/resources/presscentre/pressreleaseandstatementarchive/2012/july/20120724prcongressionalbreakfast/">Bipartisan support symbolizes shared responsibility and collective solidarity to end AIDS</a></p>
                <p>US Congress hosts bipartisan briefing “Together we will end AIDS” with Congressional leaders from both political parties and leaders to discuss ways to invest smartly in the AIDS response and explore opportunities ahead</p>                
          </div>
          
          <div class="cleaner_h40"></div>
          
        </div>
        
        <div class="cleaner"></div>
        
    </div> 